*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
  padding-bottom: 500px;
}

header {
    background-color: rgb(63, 62, 60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
header h1{
    margin: 10px;
    background-color: antiquewhite;
    padding: 5px;
    border: 15px;
    padding-right: 30px;
    border-radius: 5px;
}
header nav {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    float: right;
    font-size: 30px;
    justify-content: right ;
    text-align: center;
    
    width: 50%;
    justify-content: space-between;
}
header nav a{
    margin-left:50px;
    text-decoration: none;
    color:bisque ;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
ul li {
    display:inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
     padding-left: 15px;
}
nav .flexbox-container  {
    
    margin: 10px;
    border: 3px ;
    color: antiquewhite;

}
section.banner {
    background-image: url(./photos/Portland-panorama.jpg);
    height: 225px; 
    background-position: center 350px;
   
}
section p.subtitle{
    display: flex;
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: bisque;
    border-radius: 4px;
    position: relative;
    top: 70%;
    float: right;
    right: 15px;
}

 main{
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
}

main.info{
     padding-left: 5%;
    }

 main h2{
    color: rgb(123, 84, 35);
    padding-right: 25px;
    font-size: 40px;
    width: 150px;
    text-align: right;
}

main div.flexbox-container-about-me{
  width: 88%;
}
  
main div.flexbox-container-about-me p{
  padding: 20px;
  font-size: 20px;
 
     }   
     div.flec-container{
      display:flex;
      padding-top: 20px;
      padding-left: 5%;
      height: 500px;
     }
     div.flec-container h3{
      font-size: 40px;
      color: rgb(123, 84, 35);
    padding-right: 25px;
   
    width: 150px;
    text-align: right;
     }
     div.flec-container div{
      display: flex;
      flex-direction: row;
      height: 475px;
      width: 88%;
      margin-left: 30px;
      border-left: solid blue;
      justify-content: center;
      padding: 20px;
      
     }
     div .box-1 img{
      width: 80%;
      height:auto;
      position: relative;
      border: 10px solid #555;
      filter: grayscale(50%);
      justify-content: center;
      left:10%;
     }
     .flexbox-container.paragraph{
      margin-right: 30px;
     }
     div .box-1 li.first-box{
      height:5ch;
      position: relative;
      font-size: 26px;
      right: 70%;
      list-style-type: none;
      background-color: #555;
      top: 80%
     }
     section.other-work{
      display: flex;
      background: #555;
      height: 600px;
      padding-left: 5%;
     }
     
    
     
     .wide-container h4{
      font-size: 40px;
      color: rgb(123, 84, 35);
    padding-right: 14px;
    font-size: 40px;
    width: 183px;
    text-align: right;
    border-right:solid black;
     }
     
     
     .wide-container{
      display: flex;
      
      padding-left: 5%;
     }
     
     .flexboxes {
      
      width: 500px;
      margin: 10px;
      margin-left: 8%;
      
      border: 3px solid #333;
      background-color: #dfdfdf;
      
     }
     
     .flexboxes-1 {
      border: solid green 5px;
      display: flex;
      align-items: end;
      min-height: 200px;
      background-image: url(./photos/desk-photo.jpeg);
      background-position: center;
      align-content: center;
     }
     .flexboxes-2{
      display: flex;
      align-items: end;
      border:solid wheat 10px;
      background-image: url(./photos/pyramid.jpg);
      background-size: cover;
   
     }
     .flexboxes.flexboxes-1 p{
      background:green;
      font-size: 30px;
      border: solid green 10px;
      color: wheat;
     }
     .flexboxes.flexboxes-2 p {
      font-size: 30px;
      background: wheat;
      color: coral;
border: solid wheat 10px;
     }
     
     .flexboxes-2{
      
      min-height: 100px;
     }
     .last-boxes{
      display: flex;
      
      border-left: solid #333;
      justify-content: center;
      margin-left: 16.18%;
     }
  

  @media (min-width: 768px) {
     /* ... */
  }
  @media (min-width: 321px) and(max-width:768px) {
    /* … */
  }
  @media (max-width:320px){

  }
  /* fixes portland picture to cover when in a bigger screen */
  @media (min-width:1629px)  {
    section.banner{ background-size:cover;
  }
}
@media (max-width:1311px) {
  p.item-1 {
    border-top: solid bisque;
   
  }
}
@media (min-width:1311px){
  p.item-1{
border-left: solid black;
}
}
@media (min-width:1311px){
  p.item-2{
border-left: solid black;
}
}